@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,600|Patua+One:400|Titillium+Web:400italic,700italic&amp;subset=latin,latin-ext');


body {
    margin: 0;
    padding: 50px;
    padding-bottom: 0px;
    color: white;
    background-image: url('img_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#container{
    width: 960px;
    margin: 30px auto;
    margin-bottom: 0px;
}
.head {
    width: 960px;
    margin: 30px auto;
}

ul.nav-link {
    display: flex;
    padding-left: 0%;
    margin-bottom: 0%;
    height: 65px;
    width: 800px;

}


ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 20px;
}


strong {
    font-weight: bold;
}

span{
    padding: 65px;
    line-height: 60px;


}


ul#list-nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 3px 3px 0 0;
    display: block;
    height: 60px;
    background: #2D393F;
    margin-top: 5px;
    /* vertical-align: baseline; */
}


li a:hover {
    background-color: #e8feed;
    color: black;
    padding: 2px;

    /*color: #fff;*/
}


ul#list-nav li {
    /* float: left; */
    height: 65px;
    display: block;
    background: #73dc44;
    border-radius: 5px 5px 0 0;
    /* -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease; */
    margin-right: 1px;
}

footer {
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
    height: 30px;
  }
  

  .justify-content-center a{
    line-height: 35px;
    margin-right: 10px;
    

  }
/* SOBRE MI */

#containerSobreMi {
    display: grid;
    padding: 30px 30px 30px;
    grid-template-areas: "fila1 fila2 fila2"
        "fila21 fila22 fila22";

    background-color: white;
}

#containerSobreMi #pic {
    grid-area: fila1;
    background-color: black;

}

#containerSobreMi #saludo {
    grid-area: fila2;
    display: grid;


}

#containerSobreMi #párrafo {
    grid-area: fila22;
    background-color: white;
    padding: inherit;
    padding-left: 50px;
    color: #343c41;

}



#containerSobreMi #info {
    grid-area: fila21;
    background: url(../stylesheets/sidebar-shadow.png) right top no-repeat;
    padding: 30px;
    color: #343c41;

}

#nombre {
    background-color: #343c41;
    padding-left: 100px;
    padding: 40px 40px 40px 60px;
}


#bienvenida {
    background-color: #eaeced;
    color: #343c41;
    /* padding-left: 45px; */
    padding: 30px;

}

#mensaje {
    text-align: center;

}

#title-info {
    padding-left: 20px;
}



.imageSobreMi {
    width: 325px;
    max-height: 320px;
}

/* .info{
    margin: 20px;
} */
/* .textSobreMi {
    flex: 1;
} */

/* SOBRE MI */


/*EXPERIECIA */

.containerExpeLaboral,
.containerBlog,
.containerHabilidades {
    background: white;
    display: flex;
    align-items: center;
    padding: 50px;
    color: black;
}

.imageExpeLaboral {
    width: 200px;
    margin-right: 20px;
}

.textExpeLaboral {
    flex: 1;
}

/*EXPERIECIA */

/*BLOG*/



.textBlog {
    padding: 0px 40px 0px 40px;
}

/*BLOG*/

/*habilidades */

.imageHabilidades {
    width: 200px;
    margin-right: 20px;
}

.textHabilidades {
    flex: 1;
}

/*habilidades */